@keyframes catDangle
  0%, 100%
    transform: translateY(0)
  50%
    transform: translateY(-10px)
    animation-timing-function: ease-in-out

.TopMao
  width: 70px
  height: 92vh
  max-height: 1200px
  position: absolute
  top: -100vh
  right: 0
  background: url("../../assets/scroll.gif") no-repeat bottom
  z-index: -1
  cursor: pointer
  transition: all .5s ease-in-out
  @media only screen and (max-width: 1200px)
    display: none

.TopMaoShow
  top: 0
  animation: catDangle 2.5s ease-in-out infinite
